body {
  background-color: rgba(193, 243, 184, 0.801);
}

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  background : darkgrey;
  color: white;
  text-align: center;
  padding: 10px; 
  text-shadow: 2px 2px 2px black;
}

nav {
 background-color: dimgray;
}


main {
  width: 90%;
  margin: 0 auto;
  padding: 15px;
  background-color: #847f85; 
}

h1, h2 {
font-family: Arial, Helvetica, sans-serif
}


.highlight {
 background-color: lightyellow;
}

#footerBackGroundColor {
 background-color: rgb(23, 209, 241);
}

footer {
 text-align: center;
 padding: 20px;
 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}









nav ul {
margin: 0px;
padding: 0px;
list-style: none;
}

nav ul li {
display: inline-block;
    /* top  right bottom left */
margin: 20px;
font-size: 24px;
}

nav a {
text-shadow: none;
color: whitesmoke;
text-decoration: none;
}